* {
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: 'baby'; 
    src: url('../fonts/BabyGirly.ttf') format('truetype'); 
    font-style: normal;
  }

  html, body {
    overflow-x: hidden;
  }
  

  

.my-navbar-edit {
    background-color: #fff; 
    margin: 0;


    box-shadow: 0 2px 4px rgba(0,2, 0.2, 0.2, 0.2);
  }


body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

.my-navbar-button {
    color: #f20cad;
    font-family: 'baby';
    font-size: 1.5em;
    margin: 5;
    padding: 5;
}

.carousel {
  max-width: 100%; 
  margin: 0;
  
}

.carousel img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: cover; 
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #fd72fd; 
}

.carousel-control-prev, .carousel-control-next {
  color: #fd72fd; 
}

/*SECCION DE MAPAS Y CUADRO DE TEXTO*/

.seccion-dos-recuadros {
  display: flex; /* Utiliza un diseño flexbox para organizar los recuadros en fila */
  justify-content: space-between; /* Espacio uniforme entre los recuadros */
}


/* Estilo para los recuadros individuales (TextoBox y MapaGoogle) */
.seccion-dos-recuadros > * {
  flex: 1; /* Divide el espacio de manera uniforme entre los recuadros */
  margin: 0px; /* Agrega un margen entre los recuadros */
}


/*footer desde aca */
.footer {
  background-color: #fff; /* Cambia el color de fondo del pie de página */
  color: #fd72fd; /* Cambia el color del texto del pie de página */
  font-family: 'baby';
  font-size: 2em;
  padding: 30px; /* Agrega espacio alrededor del contenido del pie de página */
  margin: 0;

}

.footer-content {
  text-align: center;
}